@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


*{
    text-decoration: none;
    outline: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
div#main-bg{
    width: 69vw;
    height: 790px;
    background-color: #FFCCE1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
div#secondary-bg{
    padding: 5px;
    background-color: #E195AB;
    height: 750px;
    width: 67vw;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    transition: 0.6s ease;
    overflow: scroll;
}
div#header{
    width: 67vw;
    height: 100px;
    border-radius: 40px 40px 10px 10px ;
    background-color:#ffcce16c;
    color: #F2F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: "Red Hat Display";
    position: relative;
}
button#add{
    border-radius: 50%;
    border: 0;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #710e38;
    background-color: #F2F9FF;
    position: absolute;
    right: 40px;
    transition: 0.6s ease;
}
button#add:hover{
    background-color: #710e38;
    color: #F2F9FF;
    cursor: pointer;
}

button.remove {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 5px;
    bottom: 0px;
}

button.remove > svg {
    width: 20px;
    height: 20px;
    transition: 0.6s ease;
    fill: #710e38;
}

button.remove > svg:hover {
    cursor: pointer;
    fill: #E195AB;
}
.keep{
    background-color: #E195AB;
    fill: #ffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    left: 10px;
    bottom: 15px;
    transition: 0.6s ease;
}
button.done{
    background-color: #ffff;
    fill: #ffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    left: 10px;
    bottom: 15px;
    transition: 0.6s ease;
}

button.done:hover{
    background-color: #E195AB;
}
button.done:hover > svg{
    cursor: pointer;
    display: block;
    fill: #F2F9FF;
}

div#header > input[type=text]{
    color: #710e38;
    font-family: "Red Hat Display";
    font-size: 25px;
    border: 0;
    border-radius: 10px;
    cursor: auto;
    width: 50vw;
    height: 50px;
    text-align: center;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
li{
    border-radius: 15px;
    background-color: #ffe3c8;
    width: 65vw;
    height: 70px;
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Red Hat Display";
    color: #710e38;
    font-size: 20px;
}
li.checked{
    text-decoration: line-through;
    color: #710e3772;
    transition: ease 0.3s;
}


