@media only screen and (max-width: 1100px){

    div#main-bg{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        z-index: 2;
        
    }

    div#secondary-bg{
        width: 100vw;
        height: 98vh;
    }

    div#header{
        width:100vw;
        height: 150px;
        align-items: start; 
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border-radius: 0;
        margin-top: -10px;
        z-index: 1;

    }
    div#header > input[type=text]{
        width: 90vw;
        font-size: 15px;
        margin-top: 30px;
    }

    button#add{
        border-radius: 10px;
        font-size: 15px;
        width: 90vw;
        height: 30px;
        align-self: center; 
        position: static;
    }
    div#container-tasks{

    }
    li{
        width: 85vw;
        font-size: 15px;
    }
}